.sidebar{

    min-height: 100vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f0f9;
    padding:25px 15px;
    animation: fadein 2s;
}
.sidebar img{
 width:20px;

}

.sidebar .menu{

display: block;
margin-left: 10px;
cursor:pointer;
}
.sidebar .newchat{
margin-top:50px;
display: inline-flex;
gap:10px;
align-items:center;
padding:10px 15px;
background-color: #e6eaf1;
border-radius: 50px;
font-size: 15px;
color: grey;
cursor: pointer;


}

.sidebar .recent{
display: flex;
flex-direction: column;
}
.sidebar .recenttitle{
margin-top: 30px ;
margin-bottom: 20px;
}

.smooth{

    animation: fadein 2s;

}
.sidebar .recent-entry{
display: flex;
gap:10px;
align-items: start;
padding:10px;
padding-right: 40px ;


border-radius: 50px;
color: #282828;
cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color:#aaa7a7;


}
.sidebar .bottom{

display: flex;
flex-direction: column;


}

.sidebar .bottom-item{

padding-right: 10px;
cursor: pointer;

}

@media(max-width:600px){

    .sidebar{
        display: none;
    }
    .card{

        flex-grow: 1;
    }
}